
<div>
  <p 
     *ngFor="let message of messages">
  {{message}}
  </p>
</div>
<hr>
<div class="row">
  <div class="col-md-4 col-xs-4">
    <label for="name">Username</label>
    <input 
      style='margin-bottom: 15px;'
      class="form-control" 
      type="text" 
      name="name" 
      id="name"
      [(ngModel)]="userName">
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <label for="text">Message</label>
      <input 
        class="form-control" 
        type="text" 
        name="text" 
        id="text"
        formControlName="text">
    </form>
    <button
        style='margin-top: 15px;' 
        class="btn btn-danger" 
        type="button"
        (click)="onClearHistory()">Clear History</button>
  </div>
</div>
