
<p *ngFor="let message of messages">
  {{message}}
</p>
<hr>
<div class="col-md-4 col-xs-4">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <label for="name">Username</label>
    <input class="form-control pull-right" 
      type="text" 
      name="name" 
      id="name"
      formControlName="name">
    <label for="text">Message</label>
    <input class="form-control pull-right" 
      type="text" 
      name="text" 
      id="text"
      formControlName="text">
  </form>
</div>
